.addButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
  position: absolute;
  bottom: 20px;
}

.addButton::after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-family: 'Segoe UI';
  font-weight: 100;
}