.habitList {
    height: 100%;
    padding-top: 15px;
    padding-left: 0;
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 12px;
}

.habitLi {
    width: 96%;
    background-color: #9D9FB7;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 4%;
    font-weight: 500;
}

.habitIkon {
    margin-left: 10px;
    margin-right: 1px;
    font-size: 32px;
}

/* wrapper */
.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

/* skjul native visuelt, men behold tilgjengelighet */
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  z-index: 2;
  cursor: pointer;
}

/* visuelt element som erstatter checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 5px;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-color: #ffffff60;
  border-radius: 50%;
  box-sizing: border-box;
  transition: background 0.15s, border-color 0.15s;
}

/* checked state - ytre sirkel får litt tydeligere farge */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #ffffff00;
  border-color: #ffffff;
}

/* indre sirkel */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}

/* vis indre sirkel når checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

.habitLi:has(input[type="checkbox"]:checked) {
  opacity: 0.5;
}
