.container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.habitContainer {
    background-color: white;
    height: 100%;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.newHabitContainer {
  position: fixed;      /* Legger den over alt annet */
  top: 20px;
  left: 0;
  width: 100vw;         /* Full bredde */
  height: 100vh;        /* Full høyde */
  background-color: white;
  z-index: 10;        /* Høyere enn andre elementer */
  display: flex;        /* Valgfritt, hvis du vil sentrere innhold */
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}




