:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


h1 {
  font-size: 1.5em;
  line-height: 1.1;
}


@media (min-width: 768px) {
  /* Eksempel: endre font-størrelse på tablet */
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  /* Eksempel: endre font-størrelse på desktop */
  body {
    font-size: 20px;
  }
}
